body {
  background-color: #fff;
  color: #222;
  text-align: center;
  margin-top: 20%;
  font-family: sans-serif;
}

div input[name="iambenching"] {
  width: 70px;
  border-radius: 3px;
  border: 0;
  color: #222;
  background-color: #dfdfdf;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
}

div select {
  background-color: #fff;
  border: 1px solid #aaa;
}

div p {
  margin-top: 24px;
}

div p a {
  padding: 9px;
  border-radius: 4px;
  font-weight: bold;
  background-color: #dfdfdf;
  text-decoration: none;
  cursor: pointer;
  color: #222;
}

p#urlinfo {
  margin-top: 40px;
  color: #999;
  font-size: 11px;
  text-align: center;
  display: block;
}
p#urlinfo a {
  color: #555;
  text-decoration: none;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}
